body, html { padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/*body{*/
/*	background: #494A5F;*/
/*	color: #D5D6E2;*/
/*	font-family: "Microsoft YaHei","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif;*/
/*}*/
/*a{ color: rgba(255, 255, 255, 0.6);outline: none;text-decoration: none;-webkit-transition: 0.2s;transition: 0.2s;}*/
/*a:hover,a:focus{color:#74777b;text-decoration: none;}*/

/*.demo{ background: #ffded7; padding: 2em 0;}*/
a:hover,a:focus{
	outline: none;
	text-decoration: none;
}
.tab .nav-tabs{
	padding-left: 15px;
	border-bottom: 4px solid #5C8485;
}
.tab .nav-tabs li a{
	color: #fff;
	padding: 10px 20px;
	margin-right: 10px;
	background: #5C8485;
	text-shadow: 1px 1px 2px #000;
	border: none;
	border-radius: 0;
	opacity: 0.5;
	position: relative;
	transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover{
	background: #5C8485;
	opacity: 0.8;
}
.tab .nav-tabs li.active a{
	opacity: 1;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:hover,
.tab .nav-tabs li.active a:focus{
	color: #fff;
	background: #5C8485;
	border: none;
	border-radius: 0;
}
.tab .nav-tabs li a:before,
.tab .nav-tabs li a:after{
	content: "";
	border-top: 42px solid transparent;
	position: absolute;
	top: -2px;
}
.tab .nav-tabs li a:before{
	border-right: 15px solid #5C8485;
	left: -15px;
}
.tab .nav-tabs li a:after{
	border-left: 15px solid #5C8485;
	right: -15px;
}
.tab .nav-tabs li a i,
.tab .nav-tabs li.active a i{
	display: inline-block;
	padding-right: 5px;
	font-size: 15px;
	text-shadow: none;
}
.tab .nav-tabs li a span{
	display: inline-block;
	font-size: 14px;
	letter-spacing: -9px;
	opacity: 0;
	transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover span,
.tab .nav-tabs li.active a span{
	letter-spacing: 1px;
	opacity: 1;
	transition: all 0.3s ease 0s;
}
.tab .tab-content{
	padding: 30px;
	/*background: #fff;*/
	font-size: 16px;
	color: #6c6c6c;
	line-height: 25px;
}
.tab .tab-content h3{
	font-size: 24px;
	margin-top: 0;
}
@media only screen and (max-width: 479px){
	.tab .nav-tabs li{
		width: 100%;
		margin-bottom: 5px;
		text-align: center;
	}
	.tab .nav-tabs li a span{
		letter-spacing: 1px;
		opacity: 1;
	}
}