.main-banner {
    height: 350px;
    background-image: url(../images/monet_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.trans-black {
        position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0%;
    left: 0%;
    width: 100%;
    height: 350px;
    z-index: 2;
    -moz-opacity: 0.1;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none;
}
