.header1 {
    width: 100%;
    color: #fff;
    height: 400px;
    letter-spacing: .6px;
    font-size: 14px;
    z-index: 30;
    background-image: url(../img/sweet-ice-cream.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 0px;
    margin-top: 0px;
}