<!DOCTYPE html>
<html>
<html lang="en">

<head>
    <title>Home</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <!-- Custom-Files -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Bootstrap-Core-CSS -->
    <link href="/static/css/css_slider.css" type="text/css" rel="stylesheet" media="all">
    <!-- banner slider -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <link href="/static/bootstrap-fileinput-master/css/fileinput.min.css" rel="stylesheet">
    <!-- File-Input-CSS -->
    {% block head %} {% endblock %}
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body>
    <!-- main banner -->
    <div class="main-top" id="home">
        <!-- header -->
        <header>
            <div class="container-fluid">
                <div class="header d-md-flex justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2">
                    <!-- logo -->
                    <div id="logo">
                        <h1><a href="/">Style Transfer</a></h1>
                    </div>
                    <!-- //logo -->
                    <!-- nav -->
                    <div class="nav_w3ls">
                        <nav>
                            <label for="drop" class="toggle">Menu</label>
                            <input type="checkbox" id="drop" />
                            <ul class="menu">
                                <li><a href="/" class="active">Home</a></li>
                                <li><a href="/gallery">Gallery</a></li>
                                <li>
                                    <!-- First Tier Drop Down -->
                                    <label for="drop-2" class="toggle toogle-2">Discovery<span class="fa fa-angle-down" aria-hidden="true"></span>
                                    </label>
                                    <a href="#">Discovery <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                    <input type="checkbox" id="drop-2" />
                                    <ul>
                                        <li><a href="/impression" class="drop-text">Impressionism</a></li>
                                        <li><a href="/abstract" class="drop-text">Abstraction</a></li>
                                        <li><a href="/chinese" class="drop-text">Chinese Style</a></li>
                                        <li><a href="/fauvism" class="drop-text">Fauvism</a></li>
                                    </ul>
                                </li>
                                <li><a href="/test">Contact Us</a></li>
                                <li class="call-w3pvt text-wh"><span class="fa fa-envelope mr-2"></span> sc16xz@leeds.ac.uk</li>
                            </ul>
                        </nav>
                    </div>
                    <!-- //nav -->
                </div>
            </div>
        </header>
        <!-- //header -->

        <!-- banner -->

        <div class="banner_w3lspvt">
            <div class="csslider infinity" id="slider1">
                <input type="radio" name="slides" checked="checked" id="slides_1" />
                <input type="radio" name="slides" id="slides_2" />
                <input type="radio" name="slides" id="slides_3" />
                <input type="radio" name="slides" id="slides_4" />

                <ul class="banner_slide_bg">
                    <li class="slider-style">
                        <div class="trans-black"></div>
                        <div class="container-fluid top-index">
                            <div class="w3ls_banner_txt text-right ml-auto pr-xl-5 pr-3 ">
                                <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-3">Style Transfer</h3>
                                <p>You are free to choose your own style pictures, but if you don't have a better idea
                                    yet, you can click the Discovery in nav to save the style pictures you need.</p>
                                <a href="#about" class="btn button-style mt-sm-5 mt-4">Get Started</a>
                            </div>
                        </div>
                    </li>
                    
                    <li class="slider-style">
                        <div class="trans-black"></div>
                        <div class="container-fluid top-index">
                            <div class="w3ls_banner_txt text-right ml-auto pr-xl-5 pr-3">
                                <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-3">Style Transfer</h3>
                               <p>You are free to choose your own style pictures, but if you don't have a better idea
                                    yet, you can click the Discovery in nav to save the style pictures you need.</p>
                                <a href="#about" class="btn button-style mt-sm-5 mt-4">Get Started</a>
                                
                                <div class="social-icons-footer text-center position-relative mt-5">
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-facebook"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-twitter"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-dribbble"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="fa fa-instagram"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- //social icons -->
                            </div>
                        </div>
                    </li>
                    <li class="slider-style">
                        <div class="trans-black"></div>
                        <div class="container-fluid top-index">
                            <div class="w3ls_banner_txt text-right ml-auto pr-xl-5 pr-3">
                                <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-3">Style Transfer</h3>
                                <p>You are free to choose your own style pictures, but if you don't have a better idea
                                    yet, you can click the Discovery in nav to save the style pictures you need.</p>
                                <a href="#about" class="btn button-style mt-sm-5 mt-4">Get Started</a>
                            </div>
                        </div>
                    </li>
                    <li class="slider-style">
                        <div class="trans-black"></div>
                        <div class="container-fluid top-index">
                            <div class="w3ls_banner_txt text-right ml-auto pr-xl-5 pr-3">
                                <h3 class="w3ls_pvt-title text-wh text-uppercase let mb-3">Style Transfer</h3>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit acntium doemque laudantium, totam
                                    rem aperiam eaque ipsa quae ab illo.</p>
                                <a href="#about" class="btn button-style mt-sm-5 mt-4">More Info</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="arrows">
                    <label for="slides_1"></label>
                    <label for="slides_2"></label>
                    <label for="slides_3"></label>
                    <label for="slides_4"></label>
                </div>
            </div>
            <div class="banner-left-grids">
                <div class="d-flex">
                    <div class="col-xl-2 col-md-3 col-sm-4 col-6 w3pvt-grids-1">
                        <h5 class="text-wh font-weight-bold let mb-2">01. Image </h5>
                        <p>Zero cost creation of art paintings.</p>
                    </div>
                    <div class="col-xl-2 col-md-3 col-sm-4 col-6 w3pvt-grids-1 pl-4">
                        <h5 class="text-wh font-weight-bold let mb-2">02. Video </h5>
                        <p>Fast generation of style videos</p>
                    </div>
                    <div class="col-xl-8 col-md-6 col-sm-4 w3pvt-grids-2">
                    </div>
                </div>
            </div>
        </div>
        <!-- //banner -->
    </div>
    <!-- //main banner -->

    <!-- about-->
    <section class=" wthree-about py-5 gray-back" id="about">
        {% block content %} {% endblock %}
    </section>
    <!-- //about -->

    <!-- footer -->
    <footer class="footer-sec-w3layouts py-5 ">
        <div class="container py-xl-5 py-lg-3">
            <div class="row pb-3">
                <div class="col-lg-5 footer-left-info text-left">
                    <div class="logo-footer">
                        <h2>
                            <a href="index.html">Style Transfer<img src="static/images/logo2.png" alt="" class="img-fluid"></a>
                        </h2>
                    </div>
                    <p class="mt-lg-5 mt-4">Everyone has artistic talent.</p>
                </div>
                <div class="col-lg-6 footer-right-info text-right offset-lg-1 mt-lg-0 mt-5">
                    <h6>Get In Touch</h6>
                    <address class="ad-info mt-lg-5 mt-4">
                        <strong>SWJTU-Leeds Joint School.</strong>
                        <br> Southwest JiaoTong University
                        <br> Chengdu, Sichuan, China
                        <br>
                        <abbr title="Phone">P:</abbr> (123) 456-7890
                    </address>
                </div>
            </div>
            <!-- social icons -->
            <div class="social-icons-footer social-w3pvt-footer text-center pt-md-5 pt-4 mt-md-5 mt-4">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-dribbble"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fa fa-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //social icons -->
        </div>
    </footer>
    <!-- //footer -->

    <!-- move top icon -->
    <a href="#home" class="move-top text-center"></a>
    <!-- //move top icon -->
</body>
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-fileinput-master/js/fileinput.min.js"></script>

{% block script %} {% endblock %}

</html>
