
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]>
<!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gallery </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <!-- Custom-Files -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Bootstrap-Core-CSS -->
    <link href="/static/css/css_slider.css" type="text/css" rel="stylesheet" media="all">
    <!-- banner slider -->
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- Animate.css -->
    <link rel="stylesheet" href="/static/css/animate.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <!-- Salvattore -->
    <link rel="stylesheet" href="/static/css/salvattore.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="/static/css/style-waterfall.css">
    <!-- Main Style -->
    <link rel="stylesheet" href="/static/css/gallary.css">
    <!-- Modernizr JS -->
    <script src="/static/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

    <!-- Web-Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
    <!-- //Web-Fonts -->

</head>

<body>

    <div class="main-banner">
        <div class="container-fluid">
                <div class="header justify-content-between align-items-center py-3 px-xl-5 px-lg-3 px-2" style="z-index: 999;position: relative">
                    <!-- nav -->
                    <div class="nav_w3ls mt-4 float-lg-right">
                        <nav>
                            <label for="drop" class="toggle">Menu</label>
                            <input type="checkbox" id="drop" />
                            <ul class="menu">
                                <li><a href="/" class="active">Home</a></li>
                                <li><a href="/gallery">Gallery</a></li>
                                <li>
                                    <!-- First Tier Drop Down -->
                                    <label for="drop-2" class="toggle toogle-2">Discovery<span class="fa fa-angle-down" aria-hidden="true"></span>
                                    </label>
                                    <a href="#">Discovery <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                    <input type="checkbox" id="drop-2" />
                                    <ul>
                                        <li><a href="/impression" class="drop-text">Impressionism</a></li>
                                        <li><a href="/abstract" class="drop-text">Abstraction</a></li>
                                        <li><a href="/chinese" class="drop-text">Chinese Style</a></li>
                                        <li><a href="/fauvism" class="drop-text">Fauvism</a></li>
                                    </ul>
                                </li>
                                <li><a href="/test">Contact Us</a></li>
                                <li class="call-w3pvt text-wh"><span class="fa fa-envelope mr-2"></span> sc16xz@leeds.ac.uk</li>
                            </ul>
                        </nav>
                    </div>
                    <!-- //nav -->
                </div>
        </div>
        <div class="trans-black"></div>
        <h1 class="text-center" style="margin-top:100px;color: white;font-size: 50px; position: relative;z-index: 5">
            {{title}}
        </h1>
    </div>
    <div id="fh5co-main">

        <div class="container">

            <div class="row">

                <div id="fh5co-board" data-columns>
                    {% for path,name in dic.items() %}
                    <div class="item">
                        <div class="animate-box">
                            <a href="{{path}}" class="image-popup fh5co-board-img"><img src="{{path}}" alt="Free HTML5 Bootstrap template"></a>
                            <div class="fh5co-desc">{{name}}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <!-- jQuery Easing -->
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <!-- Salvattore -->
    <script src="/static/js/salvattore.min.js"></script>
    <!-- Main JS -->
    <script src="/static/js/main.js"></script>




</body></html>
