{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/demo.css">
<link href="/static/css/video-js.min.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}

<div class="container-fluid">
<div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-10">
    <h3 class="main-title-w3pvt text-capitalize pb-1">Arbitrary Style Transfer
        <br>Flow instractions to get strat
    </h3>
    <hr>
    <div class="tab" role="tabpanel">
		<!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-image"></i><span>Image</span></a></li>
            <li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-film"></i><span>Video</span></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tabs">
            <div role="tabpanel" class="tab-pane fade in active" id="Section1">
                <div class="row about-main py-3">
                                 <div class="col-lg-12 about-text-grid pr-lg-5">

                                     <p class="mt-4 black">1. Choose Content Images and One Style Image</p>
                                    <p class="mt-2"></p>
                                     <div class="row">
                                        <div class="col-md-6">
                                             <form id="form" action="{{ url_for('up_content') }}" method="post" enctype="multipart/form-data">
                                                <div class="row form-group">
                                                    <label class="col-md-4"></label>
                                                        <div class="col-sm-12">
                                                            <input id="input-id" name="content" multiple type="file" data-show-caption="true">
                                                        </div>
                                                </div>
                                            </form>
                                         </div>
                                    <div class="col-md-6">
                                            <form id="form2" action="{{ url_for('up_style') }}" method="post" enctype="multipart/form-data">
                                                <div class="row form-group">
                                                    <label class="col-md-4"></label>
                                                    <div class="col-sm-12">
                                                        <input id="input-id2" name="style" multiple type="file" data-show-caption="true">
                                                    </div>
                                                 </div>
                                            </form>
                                    </div>
                                </div>

                    <p class="mt-4 mb-3 black">2. Choose Style You Like</p>
                    <input type="button" class="btn btn-warning btn-toolbar about-right" value="WCT"  onclick="wct_style()"/>
                    <input type="button" class="btn btn-warning btn-toolbar" value="AdaIN"  onclick="adain_style()"/>
                    <div class="mt-3">
                        <div class="row" id="wct">
                            <div class="col-lg-2 col-md-2 col-sm-2 about-right mt-lg-0 mt-5">
                                <img src="/static/images/demo.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 mt-lg-0 mt-5 about-right">
                                <img src="/static/images/wct-0.3.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 about-right mt-lg-0 mt-5">
                                <img src="/static/images/wct-0.5.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 mt-lg-0 mt-5 about-right">
                                <img src="/static/images/wct-0.7.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 about-right mt-lg-0 mt-5">
                                <img src="/static/images/wct-0.8.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 mt-lg-0 mt-5 about-right">
                                <img src="/static/images/wct-1.0.jpg" class="img-fluid" alt="" />
                            </div>
                        </div>
                        <div class="row" id="adain" style="display: none">
                            <div class="col-lg-2 col-md-2 col-sm-2 about-right mt-lg-0 mt-5">
                                <img src="/static/images/demo.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 mt-lg-0 mt-5 about-right">
                                <img src="/static/images/adain-0.3.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 about-right mt-lg-0 mt-5">
                                <img src="/static/images/adain-0.5.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 mt-lg-0 mt-5 about-right">
                                <img src="/static/images/adain-0.7.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 about-right mt-lg-0 mt-5">
                                <img src="/static/images/adain-0.8.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 mt-lg-0 mt-5 about-right">
                                <img src="/static/images/adain-1.0.jpg" class="img-fluid" alt="" />
                            </div>
                        </div>
                        <form id="radio">
                            <div class="row mt-3">
                                <div class="col-sm-2 mr-5"></div>
                                <div class="col-sm-2 custom-control custom-radio custom-control-inline ml-4">
                                    <input type="radio" style="display:none;" class="custom-control-input" id="customRadio1" name="style" value="0.3">
                                    <label class="custom-control-label" for="customRadio1">1</label>
                                </div>
                                <div class="col-sm-2 custom-control custom-radio custom-control-inline">
                                    <input type="radio" style="display:none;" class="custom-control-input" id="customRadio2" name="style" value="0.5" checked>
                                    <label class="custom-control-label" for="customRadio2">2</label>
                                </div>
                                <div class="col-sm-2 custom-control custom-radio custom-control-inline">
                                    <input type="radio" style="display:none;" class="custom-control-input" id="customRadio3" name="style" value="0.7">
                                    <label class="custom-control-label" for="customRadio3">3</label>
                                </div>
                                <div class="col-sm-2 custom-control custom-radio custom-control-inline">
                                    <input type="radio" style="display:none;" class="custom-control-input" id="customRadio4" name="style" value="0.8">
                                    <label class="custom-control-label" for="customRadio4">4</label>
                                </div>
                                <div class="col-sm-1 custom-control custom-radio custom-control-inline">
                                    <input type="radio" style="display:none;" class="custom-control-input" id="customRadio5" name="style" value="1.0">
                                    <label class="custom-control-label" for="customRadio5">5</label>
                                </div>
                            </div>
                        </form>
                    </div>

                    <p class="mt-4 mb-3 black">3. Get Result Image</p>
                    <input type="button" class="btn btn-warning btn-lg mb-3" value="Transfer"  onclick="transfer_batch()"/>
                    <input type="button" class="btn btn-warning btn-lg about-right mb-3" value="Download"  onclick="downloadzip()" />
                     <div  class="row mt-2" id="pic">

                     </div>
                </div>
            </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="Section2">
                                <div class="row about-main py-3">
                                 <div class="col-lg-12 about-text-grid pr-lg-5">

                                     <p class="mt-4 black">1. Choose One Video Image and One Style Image</p>
                                    <p class="mt-2"></p>
                                     <div class="row">
                                        <div class="col-md-6">
                                             <form id="form" action="{{ url_for('up_video_content') }}" method="post" enctype="multipart/form-data">
                                                <div class="row form-group">
                                                    <label class="col-md-4"></label>
                                                        <div class="col-sm-12">
                                                            <input id="input-vcontent" name="video_content" multiple type="file" data-show-caption="true">
                                                        </div>
                                                </div>
                                            </form>
                                         </div>
                                    <div class="col-md-6">
                                            <form id="form2" action="{{ url_for('up_video_style') }}" method="post" enctype="multipart/form-data">
                                                <div class="row form-group">
                                                    <label class="col-md-4"></label>
                                                    <div class="col-sm-12">
                                                        <input id="input-vstyle" name="video_style" multiple type="file" data-show-caption="true">
                                                    </div>
                                                 </div>
                                            </form>
                                    </div>
                                </div>

                    <p class="mt-4 mb-3 black">2. Choose Style You Like</p>
                    <div class="mt-3">
                    <input type="button" class="btn btn-warning btn-toolbar about-right" value="WCT"  onclick="wct_video()"/>
                    <input type="button" class="btn btn-warning btn-toolbar" value="AdaIN"  onclick="adain_video_style()"/>
                        <div class="row" id="wct_video">
                            <div class="col-lg-2 col-md-2 col-sm-2 about-right mt-lg-0 mt-5">
                                <img src="/static/images/demo.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 mt-lg-0 mt-5 about-right">
                                <img src="/static/images/wct-0.3.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 about-right mt-lg-0 mt-5">
                                <img src="/static/images/wct-0.5.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 mt-lg-0 mt-5 about-right">
                                <img src="/static/images/wct-0.7.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 about-right mt-lg-0 mt-5">
                                <img src="/static/images/wct-0.8.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 mt-lg-0 mt-5 about-right">
                                <img src="/static/images/wct-1.0.jpg" class="img-fluid" alt="" />
                            </div>
                        </div>
                        <div class="row" id="adain_video" style="display: none">
                            <div class="col-lg-2 col-md-2 col-sm-2 about-right mt-lg-0 mt-5">
                                <img src="/static/images/demo.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 mt-lg-0 mt-5 about-right">
                                <img src="/static/images/adain-0.3.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 about-right mt-lg-0 mt-5">
                                <img src="/static/images/adain-0.5.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 mt-lg-0 mt-5 about-right">
                                <img src="/static/images/adain-0.7.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 about-right mt-lg-0 mt-5">
                                <img src="/static/images/adain-0.8.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 mt-lg-0 mt-5 about-right">
                                <img src="/static/images/adain-1.0.jpg" class="img-fluid" alt="" />
                            </div>
                        </div>
                        <form id="radio">
                            <div class="row mt-3">
                                <div class="col-sm-2 mr-5"></div>
                                <div class="col-sm-2 custom-control custom-radio custom-control-inline ml-4">
                                    <input type="radio" style="display:none;" class="custom-control-input" id="Radio1" name="video_style" value="0.3">
                                    <label class="custom-control-label" for="Radio1">1</label>
                                </div>
                                <div class="col-sm-2 custom-control custom-radio custom-control-inline">
                                    <input type="radio" style="display:none;" class="custom-control-input" id="Radio2" name="video_style" value="0.5" checked>
                                    <label class="custom-control-label" for="Radio2">2</label>
                                </div>
                                <div class="col-sm-2 custom-control custom-radio custom-control-inline">
                                    <input type="radio" style="display:none;" class="custom-control-input" id="Radio3" name="video_style" value="0.7">
                                    <label class="custom-control-label" for="Radio3">3</label>
                                </div>
                                <div class="col-sm-2 custom-control custom-radio custom-control-inline">
                                    <input type="radio" style="display:none;" class="custom-control-input" id="Radio4" name="video_style" value="0.8">
                                    <label class="custom-control-label" for="Radio4">4</label>
                                </div>
                                <div class="col-sm-1 custom-control custom-radio custom-control-inline">
                                    <input type="radio" style="display:none;" class="custom-control-input" id="Radio5" name="video_style" value="0.9">
                                    <label class="custom-control-label" for="Radio5">5</label>
                                </div>
                            </div>
                        </form>
                    </div>

                    <p class="mt-4 mb-3 black">3. Get Result Image</p>
                    <input type="button" class="btn btn-warning btn-lg mb-3" value="Transfer"  onclick="transfer_video()"/>
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8" id="video-block">
                          <video id="video_1" class="video-js vjs-default-skin vjs-fluid" controls preload="metadata" muted>
                                 <source src="/static/out-video/lake_2.mp4"  type="video/mp4">
                          </video>
                        </div>
                    <div class="col-lg-2"></div>
                </div>

                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
<div class="col-lg-1 col-md-1 col-sm-1"></div>
</div>


{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/video.min.js"></script>
<script type="text/javascript" src="/static/js/jszip.min.js"></script>
<script type="text/javascript" src="/static/js/FileSaver.js"></script>

<script>

    var options = {};
    var myplayer = videojs('video_1', options, function onPlayerReady() {
    videojs.log('Video Already');
    // In this context, `this` is the player that was created by Video.js.
    this.play();
    // How about an event listener?
    this.on('ended', function() {
        videojs.log('End');
      });
    });

    var content_up = 0;
    var style_up = 0;

    var video_content_up = 0;
    var video_style_up = 0;
    var adain = 0;
    var adain_video=0;

    $(function () {
    $("#input-id").fileinput({
        uploadUrl: "/up_content",
        previewFileType: "image",
            uploadAsync: true,
            layoutTemplates :{
		    actionUpload:'',
	        },
            showPreview : true,
            showCaption: false,
            browseClass: "btn btn-warning",
            maxFileSize: 2560,
            maxFileCount: 5,
            dropZoneEnabled: false,
            autoReplace:true,
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            allowedFileExtensions: ['jpg','png','bmp','jpeg'],
    }).on('fileerror', function (event, data, msg) {
        alert('图片上传失败！' + msg);
    }).on('fileuploaded', function (event, data) {
        content_up = 1;
        console.log(content_up);
        $("#picName").val(data.response.name);
        $('#uploadPicture').fileinput('disable');
    }).on('fileclear', function (event) {
        alert("图片被清除啦！");
    });
    });

    $(function () {
    $("#input-id2").fileinput({
        uploadUrl: "/up_style",
        previewFileType: "image",
            uploadAsync: true,
            showPreview : true,
            showCaption: false,
            layoutTemplates :{
		    actionUpload:'',
	        },
            browseClass: "btn btn-warning",
            maxFileSize: 2560,
            dropZoneEnabled: false,
            maxFileCount: 1,
            autoReplace:true,
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            allowedFileExtensions: ['jpg','png','bmp','jpeg'],
    }).on('fileerror', function (event, data, msg) {
        alert('图片上传失败！' + msg);
    }).on('fileuploaded', function (event, data) {
        style_up = 1;
        console.log(style_up);
        $("#picName").val(data.response.name);
        $('#uploadPicture').fileinput('disable');
    }).on('fileclear', function (event) {
        alert("图片被清除啦！");
    });
    });

    $(function () {
    $("#input-vcontent").fileinput({
        uploadUrl: "/up_video_content",
        previewFileType: "image",
            uploadAsync: true,
            layoutTemplates :{
		    actionUpload:'',
	        },
            showPreview : true,
            showCaption: false,
            browseClass: "btn btn-warning",
            maxFileSize: 30720,
            maxFileCount: 1,
            dropZoneEnabled: false,
            autoReplace:true,
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            allowedFileExtensions: ['mp4','MP4'],
    }).on('fileerror', function (event, data, msg) {
        alert('Fail to upload images！' + msg);
    }).on('fileuploaded', function (event, data) {
        video_content_up = 1;
        console.log(content_up);
        $("#picName").val(data.response.name);
        $('#uploadPicture').fileinput('disable');
    }).on('fileclear', function (event) {
        alert("图片被清除啦！");
    });
    });

    $(function () {
    $("#input-vstyle").fileinput({
        uploadUrl: "/up_video_style",
        previewFileType: "image",
            uploadAsync: true,
            showPreview : true,
            showCaption: false,
            layoutTemplates :{
		    actionUpload:'',
	        },
            browseClass: "btn btn-warning",
            maxFileSize: 2560,
            dropZoneEnabled: false,
            maxFileCount: 1,
            autoReplace:true,
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            allowedFileExtensions: ['jpg','png','bmp','jpeg'],
    }).on('fileerror', function (event, data, msg) {
        alert('图片上传失败！' + msg);
    }).on('fileuploaded', function (event, data) {
        video_style_up = 1;
        console.log(style_up);
        $("#picName").val(data.response.name);
        $('#uploadPicture').fileinput('disable');
    }).on('fileclear', function (event) {
        alert("图片被清除啦！");
    });
    });

    var outlist = [];

    function transfer_batch()
   {
       var selected = $('input[name=style]:checked').val();
       console.log(selected);
       if (content_up === 0 || style_up === 0){
           alert("Please upload images correctly")
       }
       else{
           $.ajax(
              {
                 type: "POST",
                 url: "/transfer_batch",
                 contentType: "application/json",
                 data:JSON.stringify({"param":selected,"adain":adain}),
                 dataType:'json',
                 success: function(data) {
                     console.log(data)
                     if (data=="wrong"){
                         alert('Internal error')
                     }else if (data.length==0){
                         alert('Please input files')
                     }else{
                         outlist = data;
                         var imgs = '';
                         for(var i=0; i<outlist.length;i++){
                             imgs+='<div class="col-md-4"> <img class="img-fluid" src="'+outlist[i]+'"/> </div>';
                         }
                         document.getElementById("pic").innerHTML=imgs;
                     }
                 },
                 error:function(data){
                     alert('Some errors happens！');
                 }
              });
       }
   }
   function transfer_video()
   {
       var selected = $('input[name=video_style]:checked').val();
       console.log(selected);
       if (video_content_up === 0 || video_style_up === 0){
           alert("Please upload images correctly")
       }
       else{
           $.ajax(
              {
                 type: "POST",
                 url: "/transfer_video",
                 data:selected, //参数
                 dataType:'json',
                 success: function(data) {
                     console.log(data)
                     if (data=="wrong"){
                         alert('Internal error')
                     }else if (data.length==0){
                         alert('Please input files')
                     }else{
                         // 将list中的string逐个加入
                         var v = data;
                         myplayer.src(v[0]);
                         myplayer.load(v[0]);
                     }
                 },
                 error:function(data){
                     alert('Some errors happens！');
                 }
              });
       }
   }
    function adain_style()
   {
       document.getElementById("adain").style.display="block";
       document.getElementById("wct").style.display="none";
       adain = 1;
       console.log(adain)
   }
   function wct_style()
   {
       document.getElementById("wct").style.display="block";
       document.getElementById("adain").style.display="none";
       adain = 0;
       console.log(adain)
   }
   function adain_video_style()
   {
       document.getElementById("adain_video").style.display="block";
       document.getElementById("wct_video").style.display="none";
       adain_video = 1;
       console.log(adain_video)
   }
   function wct_video()
   {
       document.getElementById("wct_video").style.display="block";
       document.getElementById("adain_video").style.display="none";
       adain_video = 0;
       console.log(adain_video)
   }

    function downloadzip() {

       if (outlist.length===0){
           console.log(outlist);
           alert('No file for downloading！');
       }
       else {
            console.log("Dowloading...");
            var zip = new JSZip();
            var file_name = 'images.zip';
            j=0;
            Array.from(outlist).forEach((item,index,array) => {
                file_name = '';
                var zipFolder = zip.folder('images');
                var img = new Image();
                img.setAttribute("crossOrigin",'Anonymous');
                img.src = item;
                img.onload = function(){ // Darw after loading
                    var canvas = document.createElement("canvas");
                    canvas.width = img.width;
                    canvas.height = img.height;
                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(img, 0, 0, img.width, img.height);
                    var imgdata = canvas.toDataURL();
                    var img_arr = imgdata.split(',');
                    zipFolder.file(j + ".jpg", img_arr[1], {base64: true});
                    j++;
                    if(Object.getOwnPropertyNames((zipFolder.files)).length -1 === array.length) {
                        zip.generateAsync({type: "blob"}).then(function (content) {
                            saveAs(content, 'images.zip');
                        });
                    }
                };
            });
            console.log("Complete！");
        }
    }


</script>
{% endblock %}
